@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
  --white-color: #fff;
  --dark-main-color: #202020;
  --white-color: #f0e7cf;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
body {
  color: var(--white-color);
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 18px;
  background: var(--dark-main-color);
  height: 100%;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: 700;
}
input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #a3adbf;
}
button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}
a {
  color: inherit;
  display: inline-block;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  margin-left: 50px;
  margin-bottom: 20px;
  list-style: decimal;
}
li::marker {
  font-weight: bold;
}
li:not(:last-child) {
  margin-bottom: 10px;
}
li a:hover {
  text-decoration: underline;
}
img {
  vertical-align: top;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
sub,
sup {
  line-height: 0;
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(32, 32, 32, 0.3), rgba(32, 32, 32, 0.3)), url('img/bg-sharp-blue.jpg') no-repeat center center / cover;
  position: relative;
}
.wrapper > main {
  flex: 1 1 auto;
  overflow: hidden;
  z-index: 2;
}
.wrapper > * {
  min-width: 0;
}
[class*='__container'] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}


.header {
  border-bottom: 1px solid var(--white-color);
  z-index: 2;
}
.header__body {
  display: flex;
  justify-content: center;
  padding: 12px 0;
}
.header__logo {
  max-width: 244px;
  max-height: 56px;
}
.header__logo img {
  max-width: 100%;
  object-fit: cover;
}
.wrapper:not(.wrapper__main) .header__logo {
  max-width: 180px;
  max-height: 56px;
}
.footer {
  font-size: 14px;
  border-top: 1px solid var(--white-color);
  z-index: 2;
}
.footer__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12px 0;
}

.main-title {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  color: var(--white-color);
  margin-bottom: 15px;
  margin-top: 20px;
}